# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


/data/cloud_disk/


# User-specific stuff
.idea
/4devonly/shared_folder/JIRA003/profiling_results.csv
